.padre {
    margin-top: 0.5%;
    height: 100%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    width: 55%;
    height: auto;
}

button {
    margin-top: 1%;
}

label {
    font-size: 100%;
    font-weight: bold;
}

.phone {
    width: 35%;
}

form {
    margin-bottom: 0;
    margin: 0;
}