<!--<div class="padre">
    <div class="hijo">
        <h2>Registrarse</h2>
        <form [formGroup]="form" (ngSubmit)="register()" #updateForm="ngForm">
            <div class="form-group">
                <label for="exampleInputPassword1">Usuario</label>
                <input type="text" class="form-control" id="username" placeholder="Ingrese un Usuario" formControlName="username">
                <span class="form-text text-danger" *ngIf="validar('username')">
                    El username no puede tener espacios en Blanco
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingresar Contraseña" formControlName="password">
                <span class="form-text text-danger" *ngIf="validar('password')">
               La Contraseña no debe estar en Blanco
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar un Email" formControlName="email">
                <span class="form-text text-danger" *ngIf="validar('email')">
                    El email es Invalido
                </span>
            </div>

            <label for="nombreyapellido">Apellidos y nombres</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombres Completos" formControlName="nombres">
                    <span class="form-text text-danger" *ngIf="validar('nombres')">
                        El nombre debe tener solo Letras
                    </span>
                </div>

                <div class="col">
                    <input type="text" class="form-control" placeholder="Apelidos Completos" formControlName="apellidos">
                    <span class="form-text text-danger" *ngIf="validar('apellidos')">
                        El apellido debe tener solo Letras
                    </span>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="cel">Numero de Celular</label>
                <input type="tel" class="form-control phone" id="cel" placeholder="Ingrese Numero de Celular" formControlName="celular">
                <span class="form-text text-danger" *ngIf="validar('celular')">
                    El celular tiene que tener 9 digitos
                </span>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Registrar</button>
        </form>

    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Registrarse</h2>
            <form [formGroup]="form" (ngSubmit)="register()" #updateForm="ngForm">
                <div class="form-group">
                    <label for="exampleInputPassword1">Usuario</label>
                    <input type="text" class="form-control" id="username" placeholder="Ingrese un Usuario" formControlName="username">
                    <span class="form-text text-danger" *ngIf="validar('username')">
                        El username no puede tener espacios en Blanco
                    </span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingresar Contraseña" formControlName="password">
                    <span class="form-text text-danger" *ngIf="validar('password')">
                   La Contraseña no debe estar en Blanco
                    </span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar un Email" formControlName="email">
                    <span class="form-text text-danger" *ngIf="validar('email')">
                        El email es Invalido
                    </span>
                </div>

                <label for="nombreyapellido">Apellidos y nombres</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nombres Completos" formControlName="nombres">
                        <span class="form-text text-danger" *ngIf="validar('nombres')">
                            El nombre debe tener solo Letras
                        </span>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="Apelidos Completos" formControlName="apellidos">
                        <span class="form-text text-danger" *ngIf="validar('apellidos')">
                            El apellido debe tener solo Letras
                        </span>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="cel">Numero de Celular</label>
                    <input type="tel" class="form-control phone" id="cel" placeholder="Ingrese Numero de Celular" formControlName="celular">
                    <span class="form-text text-danger" *ngIf="validar('celular')">
                        El celular tiene que tener 9 digitos
                    </span>
                </div>
                <button type="submit" class="btn btn-primary mb-5">Registrar</button>
            </form>
        </div>

    </div>
</div>