<div class="example-container" *ngIf="route.children.length ===0">
    <mat-form-field>
        <input matInput type="email" placeHolder="Ingrese Email" required [(ngModel)]="email">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" (click)="enviar()" [disabled]="!email">Enviar Correo</button>
    <mat-toolbar *ngIf="mensaje">{{mensaje}}</mat-toolbar>
    <mat-toolbar *ngIf="error">{{error}}</mat-toolbar>


</div>
<div>
    <router-outlet *ngIf="route.children.length !==0"></router-outlet>
</div>