<h1>Detalle de Producto</h1>

<table>
    <tr>
        <td>Producto ID</td>
        <td>{{productos.id}}</td>
    </tr>
    <tr>
        <td>Nombre Producto</td>
        <td>{{productos.name}}</td>
    </tr>
    <tr>
        <td>Descripcion Producto</td>
        <td class="descripcion">{{productos.descripcion}}</td>
    </tr>
    <tr>
        <td>Precio</td>
        <td>{{productos.price}}</td>
    </tr>
    <tr>
        <td>Unidad</td>
        <td>{{productos.unidad}}</td>
    </tr>
</table>
<br>
<img src="{{productos.retrievedImage}}" height="200" width="200">
<br>
<br>
<button button mat-fab color="primary" class="mb-5" (click)="deleteProducto()">
    <mat-icon>delete</mat-icon>
</button>
<button mat-fab class="mb-5 ml-2" (click)="editProducto()"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
    <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
    <line x1="16" y1="5" x2="19" y2="8" />
  </svg></button>