<h1>{{user.idUsuarios == null ? 'Add' : 'Edit'}}-Producto ID: - {{user.idUsuarios}}</h1>

<form [formGroup]="form" (ngSubmit)="saveUser()" #updateForm="ngForm">


    <label for="unidad">Nombres</label>
    <input class="form-control" type="text" matInput required placeholder="Nombres" required formControlName="nombres">


    <label for="name">Apellidos</label>
    <input class="form-control" matInput required placeholder="Apellidos" required formControlName="apellidos">

    <label for="unidad">Username</label>
    <input class="form-control" type="text" matInput required placeholder="username" required formControlName="username">

    <label for="unidad">Contraseña</label>
    <input class="form-control" disabled type="password" matInput required placeholder="Contraseña" required formControlName="password">



    <label for="authority">Tipo</label>
    <input class="form-control" matInput required placeholder="Tipo" required formControlName="authority">




    <label for="unidad">Celular</label>
    <input class="form-control" type="number" matInput required placeholder="Celular" required formControlName="celular" maxlength="9">

    <label for="unidad">Correo</label>
    <input class="form-control" type="text" matInput required placeholder="Correo" required formControlName="correo">

    <label for="unidad">Estado</label>
    <input class="form-control" disabled type="text" matInput required placeholder="Estado" required formControlName="estado">



    <button type="button" class="btn btn-success mb-5 mt-2" (click)="saveUser()">Guardar Producto</button>






</form>


<!--




-->