.carrito {
    width: 100%;
    height: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 20px;
    width: 80%;
    height: 100px;
}

.card {
    border: none;
}

.shopcar {
    margin-top: 30px;
    float: right;
    border: none;
    margin-right: 60px;
}

.dropdown-menu {
    width: 400px;
}

.vercarrito {
    float: right;
    margin-right: 20px;
}

.container {
    margin: 0;
}

.sinpadding [class*="col-"] {
    padding: 0;
}

.botones {
    margin-right: 5px;
}

.botonver {
    margin-right: 15px;
}