<!--<div class="container-fluid">
    <div class="col-md-2">
        <h1>Productos</h1>
    </div>
    <div class="col-md-10 custom-products-cart-container">
        <div class="offset-md-8">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <br>
                    <a href="#" class="btn btn-info btn-lg" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="fa fa-shopping-cart carrito">
                            Agregar Productos en Carrito:
                        </span>
                        <span class="caret">{{cartProducts.length}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <li *ngFor="let item of cartProducts">
                            <div class="item product-cart-item row">
                                <div class="col-md-8" *ngIf="item">{{item.name}}</div>
                                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
                            </div>
                        </li>
                        <hr>
                        <li><a class="btn btn-small btn-success" role="button" (click)="goToCart()">Ver Carrito</a></li>
                        <br>
                        <li *ngIf="cartProducts.length > 0">
                            <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Limpiar Carrito</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>
<hr>
-->
<div class="container sinpadding">
    <div class="row">
        <div class="col-sm">
            <h2 class="titulo">Productos</h2>
        </div>
        <div class="col-sm">
            <div class="dropleft shopcar">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let item of cartProducts" class="dropdown-item">
                        <div class="item product-cart-item row">
                            <div class="col-md-4" *ngIf="item">{{item.name}}</div>
                            <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
                            <div class="col-md-4" *ngIf="item"><img [src]="item.retrievedImage" width="35%"></div>
                        </div>
                    </li>

                    <li class="dropdown-item"> <span class="fa fa-shopping-cart carrito">
                       Producto en Carro:
                       <span class="caret">{{cartProducts.length}}</span>
                        </span>
                        <li class="dropdown">
                            <button class="btn btn-small btn-success vercarrito" role="button" (click)="goToCart()">Ver Carrito</button>
                            <li>

                            </li>




                </div>

            </div>
        </div>

    </div>

    <!--<div class="container row mt-2">
    <div class="col-md-4" *ngFor="let pro of producto;let i=index">
        <div class="card">
            <img class="" img src="{{pro.retrievedImage}}" height="180" width="200" style="margin-left: 60px;
          margin-top: 10px">
            <div class="card-body">
                <div class="card-title">
                    <p style="margin-left: auto"><strong>{{pro.name|titlecase}} : $/.{{pro.price}}</strong></p>
                    <p class="card-text" style="margin-left: auto">Tipo de Producto : {{pro.tipo}}</p>
                    <form [formGroup]="form" #updateForm="ngForm" class="example-form">
                        <mat-form-field class="example-full-width ml-2">
                            <mat-label>Cantidad</mat-label>
                            <input type="number" matInput placeholder="Cantidad" required formControlName="cantidad">

                        </mat-form-field>
                    </form>
                </div>
                <button class="btn btn-primary text-center" style="margin-left: 60px" (click)="addToCart(pro.id)">Agregar al Carrito</button>
            </div>
            [disabled]="pro.isAdded===true"
        </div>
    </div>
</div>
-->
    <div class="container">

        <div class="row">
            <div class="col " *ngFor="let pro of producto;let i=index">
                <div class="card text-center" style="width: 18rem;">
                    <img class="" img src="{{pro.retrievedImage}}" height="180" width="200" style="margin-left: 60px;
              margin-top: 10px">
                    <div class="card-body">
                        <div class="card-title">
                            <p style="margin-left: auto"><strong>{{pro.name|titlecase}} : $/.{{pro.price}}</strong></p>
                            <p class="card-text" style="margin-left: auto">Tipo de Producto : {{pro.tipo}}</p>

                            <div class="btn-wrapper text-center">
                                <button class="btn btn-primary btn-sm botones" style="margin-left: 60px" (click)="addToCart(pro.id)">Agregar al Carrito</button>
                                <a class="btn btn-info btn-sm botonver" (click)="verDetalle(pro.id)">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>