<mat-toolbar color="primary" class="example-toolbar" aria-expanded="false">
<!--
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <mat-icon>menu

    </mat-icon>
  </button>

   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <a class="dropdown-item" *ngIf="login.isAdmin()" routerLink="/admin/productos">
      <mat-icon>shop</mat-icon>
      <span>Adm Productos</span>
    </a>
    <a class="dropdown-item" *ngIf="login.isAdmin()" routerLink="/admin/users">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Adm Usuarios</span>
    </a>
    <a class="dropdown-item" *ngIf="login.isAdmin()" routerLink="/admin/modalidad">
      <mat-icon>payment</mat-icon>
      <span>Adm Pago</span>
    </a>
    <a class="dropdown-item" *ngIf="login.isAdmin()" routerLink="/admin/listadoProducto">
      <mat-icon>payment</mat-icon>
      <span>Listado de Compras</span>
    </a>
    <a class="dropdown-item" routerLink="/shop">
      <mat-icon>shop</mat-icon>
      <span>Productos Disponibles</span>
    </a>
    <a class="dropdown-item" *ngIf="login.isAdmin()" routerLink="/admin/estado">
      <mat-icon>bug_report</mat-icon>
      <span>Estado</span>
    </a>
  </div> -->

  <h1 class="example-app-name ml-2"></h1>

  <nav class="navbar navbar-expand-md ">
    <ul class="navbar-nav">

      <li class="nav-link" routerLink="/inicio">Quienes Somos</li>
      <li class="nav-link" routerLink="/about" routerLinkActive="router-link-active">Tutorial</li>
      <li class="nav-link" routerLink="/servicios">Ingresar</li>
      <li class="nav-link" routerLink="">Registrar</li>
    </ul>
  </nav>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button *ngIf="login.estaLogeado()" mat-menu-item (click)="miperfil()">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="!login.estaLogeado()" (click)="cerrarSesion()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="28" height="28"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
          <path d="M20 12h-13l3 -3m0 6l-3 -3" />
        </svg>
        <span>Iniciar Session</span>
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="login.estaLogeado()" (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </mat-menu>

  </button>

</mat-toolbar>
<router-outlet></router-outlet>
