.example-spacer {
    flex: 1 1 auto;
    overflow: hidden;
}

.example-sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
}

.example-container {
    /*  width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    overflow: hidden;
}

.example-events {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.mat-toolbar-example {
    position: fixed;
    overflow: hidden;
}

.mat-sidenav-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul li {
    margin-right: 20%;
    margin-left: 15%;
    cursor: pointer;
}

button {
    cursor: pointer;
}

span {
    color: #000000;
}