<ol>
    <li>
        <mat-form-field>

            <input matInput placeholder="ID" disabled [(ngModel)]="car.id_car">
        </mat-form-field>
    </li>
    <li>
        <mat-form-field>
            <input matInput placeholder="ID" disabled [(ngModel)]="car.estado">
            <mat-select placeholder="Estado" [(value)]="idEstadoSeleccionado">
                <br>
                <br>
                <mat-option *ngFor="let m of estadoModel" [value]="m.id">{{m.estado}}</mat-option>

            </mat-select>
        </mat-form-field>
    </li>




    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

    <button mat-raised-button color="primary" (click)="cerrar()" class="mt-1">Cancelar</button>




</ol>