<div class="userDetails">
    <h2>Detalle de Usuario</h2>

    <table>
        <tr>
            <td>ID DE USUARIO</td>
            <td>{{user.idUsuarios}}</td>
        </tr>
        <tr>
            <td>NOMBRE DE USUARIO</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>TIPO DE USUARIO</td>
            <td>{{user.authority}}</td>
        </tr>
        <tr>
            <td>CORREO</td>
            <td>{{user.correo}}</td>
        </tr>
        <tr>
            <td>CELULAR</td>
            <td>{{user.celular}}</td>
        </tr>

    </table>
    <br>
    <button button mat-fab color="primary" (click)="deleteUser()"> 
        <mat-icon>delete</mat-icon>
    </button>
    <button disabled mat-fab (click)="editProducto()">
        <mat-icon>save</mat-icon>
    </button>
</div>