<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-showpassword [user]="user" (change)="cambiar()"></app-showpassword>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <div *ngIf="mostrar">
        <div class="row">
            <div class="col">
                <mat-label>Contraseña</mat-label>
            </div>
            <div class="col">
                <mat-label>Confirmar Contraseña</mat-label>
            </div>
        </div>
        <form class="example-form" [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width" appearance="fill">

                        <input matInput placeholder="Contraseña" type="password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Confirmar Contraseña" type="password" formControlName="conpassword">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <button mat-raised-button color="primary" (click)="cambiarPassword()">Cambiar Contraseña</button>
    </div>
</div>