<h1>
    Administrar Productos</h1>
<a class="btn btn-info mb-3 ml-3" mat-raised-button color="primary" (click)="addProducto()">Agregar Nuevo Producto</a>
<!--<div class="container row">
    <div class="col-md-6">
        <mat-list class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Producto</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pro of productos">
                    <td>{{pro.id}}</td>
                    <td>{{pro.name}}</td>
                    <td>{{pro.price}}</td>
                    <td>{{pro.tipo}}</td>
                    <td><button type="button" button mat-raised-button color="accent" (click)="viewProducto(pro.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-details" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                        <path d="M12 3v16" />
                      </svg></button></td>

                </tr>
            </tbody>
        </mat-list>
    </div>
   
</div>-->
<div class="container row max">
    <div class="col-md-6">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="idProducto">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>


            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
            </ng-container>


            <ng-container matColumnDef="sphoto">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let row"> <img src="{{row.retrievedImage}}" width="45px" /> </td>

            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
            </ng-container>
            <ng-container matColumnDef="unidad">
                <th mat-header-cell *matHeaderCellDef> Unidad </th>
                <td mat-cell *matCellDef="let row"> {{row.unidad}} </td>
            </ng-container>
            <ng-container matColumnDef="valoracion">
                <th mat-header-cell *matHeaderCellDef> Valoracion </th>
                <td mat-cell *matCellDef="let row"> {{row.valoracion}} </td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones </th>
                <td mat-cell *matCellDef="let row">


                    <button mat-raised-button color="warning" class="btn btn-warning " [productos]="selectedProducto" (click)="viewProducto(row.id)">Detalle</button>



                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>

    <div class="ml-5">
        <app-addproduct *ngIf="action === 'edit' || action === 'add'" [productos]="selectedProducto" (productoAddedEvent)="refreshData()"></app-addproduct>
        <app-viewproduct *ngIf="action === 'view'" [productos]="selectedProducto" (productoDeletedEvent)="refreshData()"></app-viewproduct>
    </div>
</div>