<h1>{{estados.id == null ? 'Add' : 'Edit'}}-Estado ID: - {{estados.id}}</h1>

<form [formGroup]="form" (ngSubmit)="saveEstado()" #updateForm="ngForm">




    <label for="name">Nombre</label>
    <input class="form-control" matInput required placeholder="Nombre de Estado" required formControlName="estado">
    <span class="form-text text-danger" *ngIf="validar('estado')">
       Campo requiere Letras
    </span>
    <button type="button" class="btn btn-success mb-5 mt-2" (click)="saveEstado()">Guardar Modalidad</button>
</form>


<!--




-->