<div class="container-fluid contact-form" style="width: auto;" id="sec-4">
    <h1>Contactenos</h1>
    <hr>

    <div class="row">

        <div class="col col-md-4">
            <address><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="11" r="3" />
                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
              </svg> :  <span class="text-info"> DIRECCION C 293</span></address>
            <p><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
              </svg> : +(51)<span class="text-info">99999999</span></p>
            <p><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="3" y="5" width="18" height="14" rx="2" />
                <polyline points="3 7 12 13 21 7" />
              </svg> : <span class="text-info">dsadsa@gmail.com</span></p>
        </div>
        <div class="col col-md-4">
            <h5 class="text-danger">
                HORAS DE TRABAJO
            </h5>
            <ul class="list-group pr-5">
                <li class="list-group-item d-flex list-group-item-dark justify-content-between align-items-center">
                    Lunes
                    <span class="badge-primary badge-pill">
                        09:00 - 18:00</span>
                    <li class="list-group-item d-flex list-group-item-dark justify-content-between align-items-center">
                        Martes
                        <span class="badge-primary badge-pill">
                                09:00 - 18:00</span>
                        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                            Miercoles
                            <span class="badge-primary badge-pill">
                                        09:00 - 18:00</span>
                            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                                Jueves
                                <span class="badge-primary badge-pill">
                                                09:00 - 18:00</span>
                                <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                                    Viernes
                                    <span class="badge-primary badge-pill">
                                                        09:00 - 18:00</span>
                                    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                                        Sabado
                                        <span class="badge-secondary badge-pill">
                                                                CLOSED</span>
                                        <li class="list-group-item list-group-item-dark  d-flex justify-content-between align-items-center">
                                            Domingo
                                            <span class="badge-secondary badge-pill">
                                                                        CLOSED</span>

            </ul>


        </div>



        <div class="col-6 col-md ">

            <div class="form-group">
                <label>Nombre y Apellidos</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Mensaje</label>
                <textarea class="form-control" rows="7"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block">Send</button>
            </div>

        </div>



    </div>

</div>