.example-spacer {
    flex: 1 1 auto;
    overflow: hidden;
}

.example-container {
    /*  width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 100%;
}

mat-form-field {
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
}

.mat-toolbar-example {
    position: fixed;
    overflow: hidden;
}

button {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

span {
    color: #000000;
}