<mat-toolbar *ngIf="!tokenValido">
    La petición no es válida o ha expirado :C
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="tokenValido">
    <div class="example-container">
        <mat-form-field>
            <input matInput type="password" name="password" placeholder="Nueva Contraseña" formControlName="password" required [formGroup]="form">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Repetir contraseña" formControlName="confirmPassword" [formGroup]="form" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Cambiar Contraseña</button>
        <button mat-raised-button color="primary" type="button" routerLink="/login" *ngIf="rpta===1">Ir a Login</button>
        <mat-toolbar *ngIf="form.controls.confirmPassword.erros?.MatchPassword">Contraseñas no Coinciden</mat-toolbar>
        <mat-toolbar *ngIf="mensaje">{{mensaje}}</mat-toolbar>
        <mat-toolbar *ngIf="error">{{error}}</mat-toolbar>
    </div>


</form>