/*.example-container {
      width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pro {
    margin-top: 6%;
    margin-left: 15%;
}
*/

button {
    margin-right: 5px;
}

li {
    display: inline;
    margin-right: 15px;
}

input {
    color: black;
}

input.ng-invalid {
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}

.error {
    color: red;
    font-size: 10px;
}

form {
    margin: 0;
    height: 50%;
}