<h1>{{productos.id == null ? 'Add' : 'Edit'}}-Modalidad ID: - {{productos.id}}</h1>

<form [formGroup]="form" (ngSubmit)="saveProducto()" #updateForm="ngForm">




    <label for="name">Nombre</label>
    <input class="form-control" matInput required placeholder="Nombre de Producto" required formControlName="name">
    <span class="form-text text-danger" *ngIf="validar('name')">
       Campo requiere Letras
    </span>
    <button type="button" class="btn btn-success mb-5 mt-2" (click)="saveProducto()">Guardar Modalidad</button>
</form>


<!--




-->