<h1>Historial de Compras</h1>
<br>

<div class="container-fluid">
    <form action="" [formGroup]="form" (ngSubmit)="buscar()">
        <div class="row">
            <div class="col">

                <mat-form-field class="example-full-width">
                    <mat-label>Buscar por Usuario</mat-label>
                    <input matInput placeholder="Buscar por Usuario" value="" formControlName="usuario">
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="example-full-width nombre">
                    <mat-label>Buscar por Nombre o Apellidos</mat-label>
                    <input class="" matInput placeholder="Buscar por Usuario" value="" formControlName="nombres">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Buscar</button>
        <button class="ml-2" mat-raised-button color="primary" (click)="listarTodo()" type="button">Filtrar Todo</button>
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-toolbar *ngIf="dataSource?.data.length===0">Sin Resultados a Mostrar</mat-toolbar>
            <table mat-table [dataSource]="dataSource" #matSort class="mat-elevation-z8 demo-table mb-5">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_car}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidadTotal}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element">{{ element.fecha|date :'dd-MM-yyyy hh:mm:ss'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell class="mat-column-demo-symbol" *matCellDef="let element"> {{element.montototal}} </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
                <ng-container matColumnDef="nombrescompletos">
                    <th mat-header-cell *matHeaderCellDef> Nombres Completos </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>
                <ng-container matColumnDef="modalidad">
                    <th mat-header-cell *matHeaderCellDef> Modalidad de Pago </th>
                    <td mat-cell *matCellDef="let element"> {{element.modalidad}} </td>
                </ng-container>
                <ng-container matColumnDef="productos">
                    <th mat-header-cell *matHeaderCellDef> Nombre de Productos</th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidadproductos|uppercase}} </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell *matCellDef="let element"> {{element.estado|uppercase}} </td>
                </ng-container>
                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones </th>
                    <td mat-cell *matCellDef="let row">

                        <button (click)="verDetalleDialog(row)" mat-raised-button color="warning" class="btn btn-warning "><mat-icon>edit</mat-icon> Editar</button>



                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>

</div>