/*.cart_section {
    padding: 40px 0;
    padding-top: 70px;
    right: 0;
    left: 0;
}



tr:nth-child(even) {
    background-color: #dddddd;
}


/*.btn {
    background: rgb(94, 0, 0);
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    margin: 0 8px;
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.content span {
    font-weight: 800;
    font-size: 18px;
}

.cart_section h3 {
    margin-top: 10px;
    font-size: 22px;
    right: 0;
    left: 0;
}

.obseravicon {
    width: 85%;
}

.delete {
    border: 1px solid rgb(247, 14, 14);
    cursor: pointer;
}

.delete i {
    font-size: 18px;
    color: rgb(248, 2, 2);
}

.removeall {
    background: #df0000;
    color: #fff;
    font-weight: 600;
    border: 1px solid #b00000;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 14px;
}

.container {
    margin: 0;
    left: 0;
    width: 82%;
    margin-left: 2%;
}

.pro {
    margin-top: 6%;
    margin-left: 15%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

img {
    background-image: none;
    width: 100px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    background-color: transparent;
}

.can {
    padding-left: 27.5%;
}

.vaciartodo {
    padding-right: 1.5%;
}

.preciomuestra {
    padding-right: 3%;
}

.botones {
    float: left;
}