<!--<section class="cart_section">
    <div class="container">

        <h2>Cart</h2>
        <div>
            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Cantidad</th>

                    <th>Remover Producto/Servicio</th>
                </tr>
                <tr *ngFor="let  car of arrayCarrito">
                    <td><img src="{{car.retrievedImage}}" width="150px" alt=""></td>
                    <td>{{car.price}}
                    </td>
                    <td>
                        {{car.cantidad}}

                    </td>

                    <td><button type="button" (click)="remover(car.id)" class="delete">

    <i class="fa fa-trash"></i>
    </button></td>
                </tr>
                <br>
            </table>
            <br>
            <form [formGroup]="form" #updateForm="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Message</mat-label>
                    <input matInput #message maxlength="256" placeholder="Ex. I need help with..." required formControlName="descripcion">
                    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
            </form>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h3>Modalidad de Pago</h3>
                    <mat-form-field>
                        <mat-select placeholder="Modalidad" [(value)]="idModalidadSeleccionado">
                            <mat-option *ngFor="let m of modalidad " [value]="m.id">{{m.name}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                    <h3> Total a Pagar : <strong>S/ {{montotal}} </strong>

                    </h3>


                </div>
                <div class="col-md-6 
    text-right">
                    <button type="button" (click)="removeAll()" class="removeall">
    <i class="fa fa-trash"></i> 
    Remove All Item</button>
                    <br>
                    <br>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" (click)="atras()">Seguir Comprando</button>


                        <button mat-raised-button color="primary" class="ml-2" (click)="comprar()">Comprar</button>


                    </div>

                </div>
            </div>
        </div>
    </div>

</section>-->
<br>
<div class="container-fluid">
    <h4>Carrito de compras</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Item</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody id="items">
            <tr *ngFor="let  car of arrayCarrito">
                <td><img src="{{car.retrievedImage}}" class="img" alt=""></td>
                <td>{{car.name}}</td>
                <td>{{car.cantidad}}</td>
                <td> <button (click)="cambiarCantidad(car.id)" class="btn btn-info btn-sm mr-1">
                    +
                </button>
                    <button (click)="disminuirCantidad(car.id)" class="btn btn-danger btn-sm">
                    -
                </button></td>
                <td>{{car.price*car.cantidad}}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr id="footer">
                <th *ngIf="this.arrayCarrito.length===0" scope="row" colspan="5">Carrito vacío - comience a comprar!</th>
            </tr>
        </tfoot>
    </table>

    <table id="template-footer" cellspacing="0">
        <th>Total productos :</th>
        <td class="can">{{can()}}</td>
        <td class="vaciartodo">
            <button class="btn btn-danger btn-sm -2" (click)="removeAll()" id="vaciar-carrito">
            vaciar todo
        </button>
        </td>
        <td class="font-weight-bold preciomuestra">S./ <span>{{precio()}}</span></td>
    </table>
    <form [formGroup]="form" #updateForm="ngForm">
        <mat-form-field class="obseravicon">
            <mat-label>Observacion</mat-label>
            <input matInput #message maxlength="256" placeholder="Ex. I need help with..." required formControlName="descripcion">
            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
    </form>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h3>Modalidad de Pago</h3>
            <mat-form-field>
                <mat-select placeholder="Modalidad" [(value)]="idModalidadSeleccionado">
                    <mat-option *ngFor="let m of modalidad " [value]="m.id">{{m.name}}</mat-option>

                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-md-6 botones">

            <br>
            <br>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="atras()">Seguir Comprando</button>
                <button mat-raised-button color="warn" class="ml-2" (click)="comprar()">Comprar</button>
            </div>
            <br><br>