.example-container {
    /*  width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pro {
    margin-top: 6%;
    margin-left: 10%;
}

table,
th,
tr,
td {
    border: 1px solid black;
}

h1 {
    margin-left: 15px;
    margin-top: 30px;
}