<h1>
    Administrar Usuarios</h1>
<a class="btn btn-info mb-3 ml-3" mat-raised-button color="primary" (click)="addUser()">Agregar Usuario</a>
<div class="container row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.idUsuarios}}</td>
                    <td>{{user.username}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="viewUser(user.idUsuarios)">Mostrar Detalle</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <app-adduser *ngIf="action === 'edit' || action === 'add'" [user]="selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
        <app-viewuser *ngIf="action === 'view'" [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
    </div>
</div>