<h1>Historial de Compras</h1>
<br>


<mat-toolbar *ngIf="dataSource?.data.length===0">Sin Resultados a Mostrar</mat-toolbar>
<table mat-table [dataSource]="dataSource" #matSort class="mat-elevation-z8 demo-table mb-5">

    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id_car}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidadTotal}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha|date :'dd-MM-yyyy hh:mm:ss'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="mat-column-demo-symbol" *matCellDef="let element"> {{element.montototal}} </td>
    </ng-container>

    <ng-container matColumnDef="nombrescompletos">
        <th mat-header-cell *matHeaderCellDef>Nombres</th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
    <ng-container matColumnDef="modalidad">
        <th mat-header-cell *matHeaderCellDef>Tipo Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.modalidad}} </td>
    </ng-container>
    <ng-container matColumnDef="productos">
        <th mat-header-cell *matHeaderCellDef> Nombre de Productos</th>
        <td mat-cell *matCellDef="let element"> {{element.cantidadproductos|uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.estado|uppercase}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>