    /*table {
    width: 100%;
}

td {
    height: auto;
}*/
    
    table th {
        text-align: right
    }
    
    .demo-table {
        width: 100%;
    }
    
    td {
        text-align: center;
        width: 75px;
        max-width: 75px;
    }
    
    th {
        font-weight: bold;
        font-size: 10px;
        width: 25px;
        text-align: center;
        height: 75px;
    }
    
    .example-full-width {
        width: 90%;
    }