<h1>{{productos.id == null ? 'Add' : 'Edit'}}-Producto ID: - {{productos.id}}</h1>

<form [formGroup]="form" (ngSubmit)="saveProducto()" #updateForm="ngForm">




    <label for="name">Nombre</label>
    <input class="form-control" matInput required placeholder="Nombre de Producto" required formControlName="name">
    <span class="form-text text-danger" *ngIf="validar('name')">
        El nombre debe contener solo Letras
     </span>



    <label for="price">Precio</label>
    <input class="form-control" matInput required placeholder="Precio" required formControlName="price">
    <span class="form-text text-danger" *ngIf="validar('price')">
        El precio puede ser Entero o con Decimales
     </span>

    <label for="tipo">Tipo</label>
    <input class="form-control" matInput required placeholder="tipo" required formControlName="tipo">
    <span class="form-text text-danger" *ngIf="validar('tipo')">
        El Tipo debe contener solo Letras
     </span>
    <label for="tipo">Descripcion</label>
    <input class="form-control" matInput required placeholder="Descripcion" required formControlName="descripcion">
    <span class="form-text text-danger" *ngIf="validar('descripcion')">
         Se requiere la Descripcion
      </span>

    <label for="unidad">Unidad</label>
    <input class="form-control" matInput required placeholder="Unidad" required formControlName="unidad">
    <span class="form-text text-danger" *ngIf="validar('unidad')">
        Solo Numeros Enteros
     </span>
    <br>
    <div class="form-group" *ngIf="productos.id == null">
        <input type="file" (change)="onFileChanged($event)">
        <img [src]="imgURL" height="100px" width="100px" *ngIf="imgURL">
    </div>
    <br>
    <button type="button" class="btn btn-success mb-5" (click)="saveProducto()">Guardar Producto</button>


</form>


<!--




-->