.thumbnail {
    border: 0;
}

.fontfa {
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    font-weight: bold;
}

.fontsobre {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.img {
    background-size: cover;
}