.example-container {
    width: auto;
    height: auto;
}

.pro {
    margin-top: 6%;
    margin-left: 15%;
}

table {
    width: 100%;
    max-width: 100%;
}

th {
    color: black;
    font-size: 15px;
    margin-left: 25px;
}

h1 {
    margin-left: 15px;
    margin-top: 30px;
}