<h1>Administrar Estado</h1>
<a class="btn btn-info mb-3 ml-3" mat-raised-button color="primary" (click)="addEstado()">Agregar Nuevo Estado</a>
<div class="container row max">
    <div class="col-md-6">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>


            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
            </ng-container>


            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones </th>
                <td mat-cell *matCellDef="let row">


                    <button mat-raised-button color="warning" class="btn btn-warning " [estados]="selectedEstado" (click)="viewEstado(row.id)">Detalle</button>



                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>

    <div class="ml-5">
        <app-addestado *ngIf="action === 'edit' || action === 'add'" [estados]="selectedEstado" (estadoAddedEvent)="refreshData()"></app-addestado>
        <app-viewestado *ngIf="action === 'view'" [estados]="selectedEstado" (estadoDeletedEvent)="refreshData()"></app-viewestado>
    </div>
</div>