.slider-3 {
    /* background-image: url('../../../assets/img/servicios.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    background-position: center;
}

.servicios {
    margin-top: 70px;
    padding: 20px;
}

h1 {
    padding-top: 15px;
    text-align: center;
    color: rgb(55, 216, 23);
}

h4 {
    color: rgba(255, 255, 255, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}