<div class="container mt-5 mr-0 ml-0">
    <div class="row">
        <div class="col-3">
            <app-menu-profile></app-menu-profile>
        </div>

        <!--END MENU-->
        <div class="col-9 mr-0 ml-0">
            <!--  
            </div>-->
            <router-outlet></router-outlet>
        </div>

    </div>
</div>