<div class="container contenedor">

    <div class="row">
        <div class="col-8">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{'data:image/jpg;base64,' +pro?.picByte}}" alt="Card image cap">

            </div>
        </div>
        <div class="col-4">
            <span>Nombre  <h1>{{pro?.name}}</h1></span>
            <span>Codigo : {{pro?.id}}</span>
            <p><strong> {{pro?.descripcion}}</strong></p>
            <button type="button" class="btn btn-outline-success btn-lg" (click)="addToCart(pro.id)">Agregar al Carrito</button>
            <button type="button" class="btn btn-primary btn-lg botonlistar" routerLink="/shop">Volver A Lista de Productos</button>
        </div>

    </div>
</div>