<!--<footer class="footer">
    <div class="container">
        <span class="text-muted">Aria-12</span>
    </div>
</footer>-->
<!-- Footer -->
<footer class="page-footer font-small bg-dark pink mt-5" style="width: 100%;">


    <div class="container-fluid">

    </div>

    <div class="footer-copyright text-center ">
        <a href="#" class="text-danger"> &copy; Copyright</a>
    </div>

</footer>