<div class="card mb-3 noborder">
    <img class="card-img-top imguser" src="../../../assets/img/User_Circle.png" style="width: 25%;" alt="Card image cap">
    <div class="card-body">
        <h5 class="titulo">Bienvenido, {{user?.nombres}}</h5>
        <p class="titulo">Administra tu información y las opciones de privacidad y seguridad</p>

    </div>

    <h5 class="titulo">Informacion Personal</h5>
    <p class="titulo">Información básica, como tu nombre y foto, que usas en los servicios de Google</p>
    <div class="card">
        <div class="informacion">
            <p class="titulo"><span>Nombres : </span>{{user?.nombres}}</p>
        </div>
        <div class="informacion">
            <p class="titulo"><span>Correo Electronico : </span>{{user?.nombres}}</p>
        </div>
        <div class="informacion">
            <p class="titulo"><span>Celular : </span>{{user?.celular}}</p>
        </div>
    </div>